/* App.scss */

/* Variables */
$primary-color: #007bff;
$secondary-color: #6c757d;
$dark-color: #343a40;
$light-color: #f8f9fa;
$dark-border: #333;
$primary-hover-color: darken($primary-color, 10%);
$primary-color-footer: rgba(1, 1, 52, 0.6);
$primary-footer:#0A2240;
$dark-footer:#021627;

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
}


/* Header */
.header {
  background-color: $dark-color;
  color:  $dark-color;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;    
}

.logo {
    width: 80px;
    margin: -15px 0 0 50px;
    border-radius: 50%;
    position: absolute;
}
.nav-link {
  color:  $dark-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  display: inline;
}





/* Hero Section */
.home {
  height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-color; 

  .carousel {
    width: 100%;
    .carousel-item {
      .d-flex {
        align-items: center;
        justify-content: center;
        img {
          border-radius: 10px;
        }
        .text-center {
          h3 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
          }
          p {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
          }
          .btn {
            font-size: 1.1rem;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}